
.cm-s-number {color: #8e79ff;}
.cm-string, .cm-s-menu {color: #d86868 !important;}
.cm-s-escape { color: #ffadd1; }
.cm-s-color { color: #b09542; }
.cm-s-comment {
  color: #c8b898;
  text-decoration: strikethrough;
}

.cm-s-false {color: #fff;} /* TODO */
.cm-s-empty {color: #fff;} /* TODO */

.cm-s-green { color: #4da009; }


.cm-s-sensing { color: #3eb9f7; }
.cm-s-motion { color: #4387ff; }
.cm-s-parameter { color: #694aff; }
.cm-s-custom { color: #942fff; }
.cm-s-looks { color: #b07aff; }
.cm-s-sound { color: #cf47d8; }
.cm-s-operators { color: #6fd818; }
.cm-s-pen { color: #27d098; }
.cm-s-control, .false { color: #d4bb3a; }
.cm-s-events { color: #b17f44; }
.cm-s-variable { color: #f38b2d; }
.cm-s-list { color: #b14914; }
.cm-s-error { color: #ff3372; }
.cm-s-extension { color: #4b4a60; }
.cm-s-grey { color: #888; }

.bg-motion { background: #4a6cd4; }
.bg-looks { background: #8a55d7; }
.bg-sound { background: #bb42c3; }
.bg-pen { background: #0e9a6c; }
.bg-events { background: #c88330; }
.bg-control, .false { background: #e1a91a; }
.bg-sensing { background: #2ca5e2; }
.bg-operators { background: #5cb712; }
.bg-variable { background: #ee7d16; }
.bg-custom { background: #632d99; }

