* {
  box-sizing: border-box;
}

body, div, p, textarea, pre, ul, ol, li, blockquote, hr,
table, tbody, thead, tr, td, th,
h1, h2, h3, h4, h5, a, button, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  list-style: none;
  text-decoration: none;
  background: transparent;
  color: inherit;
  -webkit-appearance: none;
  outline: none;
}

a, button {
  white-space: normal;
  cursor: pointer;
}

.right {
  float: right;
}

.no-transition * {
  transition: none !important;
}

.hidden {
  visibility: hidden;
}

body {
  font-family: -apple-system, Lucida Grande, Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 1rem;
}

/*****************************************************************************/

body {
  min-width: 1000px; /* MIN_WIDTH */
  min-height: 508px; /* MIN_HEIGHT */
  line-height: 1.5em;
  font-size: 12px;

  background: #ececec;

  overflow: auto;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  -webkit-user-select: none;
}

.ss {
  min-width: 760px;
  min-height: 328px;
}

/*****************************************************************************/

#menu {
  position: fixed;
  top: 0; left: 0; right: 0;
  line-height: 24px;
  height: 24px;
  background: #fffcc9;
  font-family: Source Code Pro, monospace;
}
#menu > * {
  display: inline-block;
  vertical-align: bottom;
  padding: 0 8px;
}
#menu > *:hover {
  background: #fffeef;
}

#menu .logo {
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 600;
  padding-bottom: 1px;
  margin-top: -1px;
}

#menu .button {
  font-size: 14px;
}

#wrap {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  visibility: hidden;
}
#wrap.has-menu {
  top: 24px;
}
#wrap.visible {
  visibility: visible;
}

/*****************************************************************************/

#shade {
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 0;
  transition: 150ms opacity ease-out;
  pointer-events: none;
}
#shade.shady {
  opacity: 0.5;
  pointer-events: all;
}

/*****************************************************************************/

#phosphorus {
  position: absolute;
  top: -1px;
  right: 8px;
  padding: 0 1px 1px; /* phosphorus uses box-shadow for border */
  width: 482px;
  height: 392px; /* just fwiw */
  font-size: 16px; /* required! TODO: bug Nathan */
  transition: width 250ms ease-in-out, height 250ms ease-in-out;
}
.player {
  background: #fff; /* TODO #555; */
  transition: transform 250ms ease-in-out;
}

.ss #phosphorus {
  width: 242px;
  height: 212px;
}
.ss .player {
  transform: scale(0.5);
  box-shadow: 0 0 0 2px #999;
}


#phosphorus * {
  box-sizing: content-box;
}

.player {
  box-shadow: 0 0 0 1px #999;
}
.controls {
  margin-left: -2px;
}
.controls span {
  opacity: 1;
}
.controls .small-stage {
  float: left;
  background-position: -320px 0;
}
.ss .controls .small-stage {
  background-position: -320px -32px;
}

/*****************************************************************************/

.fs {
  background: #000;
}
.fs #phosphorus {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
}
.fs #toolbar, .fs #editor, .fs #sidebar, .fs #tab-bar, .fs #switcher {
  display: none;
}
.fs #wrap {
  top: 0;
}


/*****************************************************************************/

.switcher {
  position: absolute;
  border: 1px solid #999;
  background: #f7f7f7; /* cf. CodeMirror-gutters */
  bottom: 0;
  overflow: scroll;
  top: 400px;
  right: 8px;
  bottom: 8px;
  width: 482px;
  font-size: 14px;
  transition: top 250ms ease-in-out, width 250ms ease-in-out;
}

.ss .switcher {
  top: 220px;
  width: 242px;
}

.sprite {
  padding: 3px 16px;
  border-bottom: 1px solid #999;
  background: #fff;
  cursor: pointer;
}
.sprite-active {
  background: #0669d9;
  color: #fff;
}
.sprite-new {
  background: #eee;
  color: #888;
  border-bottom: none;
}

/*****************************************************************************/

.scriptable {
  position: absolute;
  top: 8px; bottom: 8px; left: 8px;
  right: 498px;
  display: none;
  transition: right 250ms ease-in-out;
}
.scriptable-active {
  display: block;
}

.ss .scriptable {
  right: 258px;
}



/*****************************************************************************/

.tabs {
  border-bottom: 1px solid #999;
  line-height: 24px;
  height: 24px;
}

.tab {
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
  display: inline-block;
  border: 1px solid transparent;
  border-bottom-color: #999;
  background: #f7f7f7; /* cf. CodeMirror-gutters */
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  vertical-align: top;
  height: 24px;
  min-width: 50px;
  text-align: center;
}
.tab-active, .tab:hover {
  border-color: #999;
}
.tab-active, .tab-active:hover {
  background: #fff;
  z-index: 1;

  border-bottom-color: transparent;
}

.tab span {
  padding: 0 8px;
  position: relative;
  top: -1px;
}

/*****************************************************************************/

/* design for width=1160 */

.pane, .tabs { width: 200px; }
.editor {       left: 200px; }

.pane {
  position: absolute;
  top: 23px;
  bottom: 0;
  left: 0;

  background: #fff;
  border: 1px solid #999;

  padding: 4px;

  overflow-x: hidden;
  overflow-y: scroll;

  display: none;
}
.pane-active {
  display: block;
}

.pane h2 {
  position: static;
  font-size: 1em;
  font-weight: 700;
  padding: 0;
  text-align: left;
}

.pane > div {
  margin-bottom: 16px;
}

/*****************************************************************************/

.reporters {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}
.reporters li {
  margin: 0;
}

.reporters li p {
  display: inline-block;
  color: #fff;

  font-weight: 400;
  line-height: 10px;
  margin: 0;

  vertical-align: middle;
  border-radius: 2000px;

  padding: 4px 6px;
  min-width: 16px;
  min-height: 20px;
}
.variable.reporters li p {
  color: #ee7d16;
  border-color: #f08d33;
}
.list.reporters li p {
  color: #cc5b22;
  border-color: #d26f3d;
}

.reporters li p.edit {
  padding: 0 0;
}
.reporters li input {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  width: auto;
  outline: none;
  height: 16px;
}

.new-variable {
  background: #fffeef;
}
.new-variable:hover {
  border-bottom: 0.1em solid;
  cursor: pointer;
  background: #fffed0;
}

/*****************************************************************************/

.editor {
  position: absolute;
  top: 0; bottom: 0;
  margin-left: 8px;
  right: 0;

  border: 1px solid #999;
  color: rgba(0, 0, 0, 0.8);
  background: #fff; /* prevents flickering */

  overflow: hidden;
}

.CodeMirror-cursors {
  visibility: hidden !important;
}
.CodeMirror-focused .CodeMirror-cursors {
  visibility: visible !important;
}
.CodeMirror-code:focus {
    outline: none;
}

.CodeMirror {
  font-family: Noto Sans, sans-serif;
  letter-spacing: +0.5px;
  font-size: 14px;
  line-height: 20px;
}

.CodeMirror-linenumber {
  font-family: Source Code Pro, monospace;
  font-size: 12px;
  /*min-width: 18px;*/
}

.CodeMirror-gutters {
  border-right: 1px solid #999;
}


.CodeMirror-hints {
  max-height: 400px;
}
.CodeMirror-hints .text {
  font-family: "Lucida Grande", Verdana, Arial, "DejaVu Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 0.125em 0.25em;
}
.CodeMirror-hints .empty {
  height: 6px;
  display: block;
}


